body {
  margin:0;
  padding: 0;
  background-color: #f8f7f5;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

/* icon */

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, icon_header {
  margin-right: 5px;
}

.close-icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

/* End icon */

.grid-container{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header */

.header{
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon{
  display: none;
}

.login-page {
  grid-area: main;
  align-items: center;
}

/* End Header */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #f8f7f5;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.logout-btn {
  display: block;
  height: 45px;
  width: 200px;
  padding: 10px;
  background-color: #3d82ed;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 100px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
}


.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */

/* Main */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  padding-right: 300px;
  color: rgba(0, 0, 0, 0.95);
  align-items: center;
}


.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card-icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}
/* End Main */

/* Login Page */

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 410px;
  width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container .title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

form {
  width: 100%;
  max-width: 410px;
  margin-top: 20px;
}

.user-details {
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 15px;
}


.input-box input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.details {
  display: block;
  margin-bottom: 8px;
}

.input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .button{
  height: 45px;
  margin: 45px 0;
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  background-color: #2e7d32;
}

/* End Login Page */

/* Admin Table */

.table {
  display: block;
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100em;
  max-width: 80%;
  margin: auto;
  overflow-x: auto;
}

.table-wrapper .title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table thead {
  color: 222;
}

.table th, .table td {
  padding: 1.8rem;
}

.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr:hover {
  background-color: #eee;
}

.label {
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
}

.label-draft {
  background-color: #777;
}

.label-live {
  background-color: #42a942;
}

.label-error {
  background-color: #d9534f;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions svg {
  cursor: pointer;
}

.delete-btn {
  color: #e10d05;
}

/* End Admin Table */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* End medium */

/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}